{% load static %}

<html>

<head>
    <title>Text Utilities</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <style>
        .hov {
            transition: 1s;
            border-radius: 20px;
        }

        .hov:hover {
            background-color: #3d0a91;
            border-radius: 20px;
            transform: scale(1.1);
            color: whitesmoke;
            transition: 0.7s;
        }
    </style>
</head>

<body style="background-color: #8540f5;">
    <div class="container-fluid mt-3 px-5">
        <!-- NavBar Begins -->
        <div class="row">
            <div class="col-sm-7 mx-auto">
                <nav class="navbar navbar-expand-lg ps-5 mb-3 py-3 pb-2 rounded-3" style="background-color: #6227c0;">
                    <div class="container-fluid">
                        <a class="navbar-brand text-light" href="{% url 'index' %}">VTG TextUtils.in</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item hov me-4">
                                    <a class="nav-link hov text-light" href="{% url 'index' %}">Home
                                    </a>
                                </li>
                                <li class="nav-item hov me-4">
                                    <a class="nav-link hov text-light" href="https://wa.me/9119015065" target="_blank">
                                        Whatsapp
                                    </a>
                                </li>
                                <li class="nav-item hov me-4">
                                    <a class="nav-link hov text-light"
                                        href="https://www.instagram.com/yash_vtg?igsh=MXhocGx5ZG53YWd4bA=="
                                        target="_blank">
                                        Instagram
                                    </a>
                                </li>
                                <li class="nav-item hov me-4">
                                    <a class="nav-link hov text-light"
                                        href="https://www.linkedin.com/in/yash-varshney-aa596239b/" target="_blank">
                                        Linkedin
                                    </a>
                                </li>
                                <li class="nav-item hov me-4">
                                    <a class="nav-link hov text-light" href="https://github.com/Yash-Varshney911"
                                        target="_blank">
                                        GitHub
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- NavBar End -->

        <!-- Alert Begins -->
        <div class="row">
            <div class="alert alert-success fade show" role="alert">
                <strong>Welcome to Text Utils</strong> You can do anything with your text here. You can analyze it,
                remove extra spaces, count characters, and more.
            </div>
        </div>
        <!-- Alert End -->

        <!-- Form Begins -->
        <form action="/analyze/" method="post">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Enter Your Text here and let's
                                analyze
                                it</label>
                            <textarea class="form-control" placeholder="Enter your text here to analyze it...."
                                name="text" id="exampleFormControlTextarea1"
                                style="resize: none;background-color: #c29ffa;" rows="10"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" name="removepunc" role="switch"
                                            id="switchCheckChecked">
                                        <label class="form-check-label text-light" for="switchCheckChecked">Remove
                                            Punctuations</label>
                                    </div>
                                </div>
                                <div class="col-sm-2 me-4 ps-0">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" name="fullcaps" role="switch"
                                            id="switchCheckChecked">
                                        <label class="form-check-label text-light" for="switchCheckChecked">Make
                                            Capitalized</label>
                                    </div>
                                </div>
                                <div class="col-sm-2 me-4">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" name="nlr" role="switch"
                                            id="switchCheckChecked">
                                        <label class="form-check-label text-light" for="switchCheckChecked">New Line
                                            Remover</label>
                                    </div>
                                </div>
                                <div class="col-sm-2 me-4">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" name="espr" role="switch"
                                            id="switchCheckChecked">
                                        <label class="form-check-label text-light" for="switchCheckChecked">Extra Space
                                            Remover</label>
                                    </div>
                                </div>
                                <div class="col-sm-2 me-4">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" name="charc" role="switch"
                                            id="switchCheckChecked">
                                        <label class="form-check-label text-light" for="switchCheckChecked">Count All
                                            Characters</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="mx-auto d-block btn btn-success mt-5 px-5 ">Start Analyzing</button>
                </div>
            </div>
        </form>
        <!-- Form End -->

        <div class="row">
            <a href="#" style="text-decoration: none;">
                <footer class="text-end fs-5 text-light mt-3">
                    &copy; 2025. Created and Designed by Er. Yash Varshney
                </footer>
            </a>
        </div>

    </div>
</body>

</html>